html, body {
    height: 100%;
    background-color: aliceblue;
}

#catPic {
    max-width: 400px;
    width: 50%;
    padding: 30px 0
}

.dark_background {
    background-color: rgb(25, 25, 25);
}

#page-content-wrapper, .container-fluid {
    padding: 0;
}

#localVideo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}