{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                <div class="sidebar-brand" ng-controller="sidebarCtrl">
                    <!-- Sidebar Stuff Starts Here -->


                    <h class="sideCenter"> Settings </h>

                    <br>
                    <p> Your cat's characteristics: </p>

                    <span class="sideCenter">Vocalness</span>
                    <input id="vocalnessSlider" type="range" min="0" max="10"> </input>
                    <br> 
                    <span class="sideCenter">Intelligence</span>
                    <input id="intelligenceSlider" type="range" min="0" max="10"> </input>
                    <br> 
                    <span class="sideCenter"> Energy </span>
                    <input id="energySlider" type="range" min="0" max="10"> </input>


                    <!-- Sidebar Stuff Ends Here -->
                </div>
            </div>

        </div>
        <!-- End Sidebar -->


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <span id="buttonz">
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Hide Settings</a>
                <a class="btn btn-default" id="findPartner">Find a match</a>
            </span>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <h1 class="hideMe">CatRoulette</h1>
                            <p class="hideMe">It's ChatRoulette .... for cats.</p>
                            <img class="hideMe" id="catPic" src="{% static 'img/happycat.jpg' %}" />
                        </center>
                        <div id="tmp"></div>
                        <br>
                        <br>
                        <center>
                            <h2 id="catFact"></h2>
                            <br>
                            <br>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extended_scripts %}
<script type="text/javascript">
    function catfactCallback(json) {
        $("#catFact").html("Complimentary Cat Fact: " + json.facts[0]);
    }

    $(document).ready(function () {
        var vocalnessSlider = $("#vocalnessSlider").slider();
        var intelligenceSlider = $("#intelligenceSlider").slider();
        var energySlider = $("#energySlider").slider();

        var voc = localStorage.getItem("voc"); //, vocalnessSlider.slider('getValue'));
        var ene = localStorage.getItem("ene"); //, energySlider.slider('getValue'));
        var intt = localStorage.getItem("int"); //, intelligenceSlider.slider('getValue'));

        if (voc != null && ene != null && intt != null){
            vocalnessSlider.slider('setValue', voc);
            energySlider.slider('setValue', ene);
            intelligenceSlider.slider('setValue', intt);
        }


        // Click handler for sidebar minimization/expansion
        $("#menu-toggle").click(function(e) {
            if ($("#menu-toggle").html() === "Hide Settings")
                $("#menu-toggle").html("Show Settings");
            else
                $("#menu-toggle").html("Hide Settings");
        
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        
        
        // "Find a Match" click handler
        $("#findPartner").click(function(e) {
            $("#tmp").empty();
            $("#catPic").show();


            if ($("#findPartner").html() === 'Find a match')
                $("#findPartner").html("Find a new match");
            else {
                localStorage.setItem("voc", vocalnessSlider.slider('getValue'));
                localStorage.setItem("ene", energySlider.slider('getValue'));
                localStorage.setItem("int", intelligenceSlider.slider('getValue'));
                location.reload(true);
            }
    
            // Set loading gif while a match is found
            $("#catPic").attr("src", "/static/img/avatar-cat.gif");
        
            // Hide the sidebar
            if (!$("#wrapper").hasClass("toggled")) {
                $("#wrapper").toggleClass("toggled");
                $("#menu-toggle").html("Show Settings");
            }
        
            // Get reference to sliders
            var vocalnessSlider = $("#vocalnessSlider").slider();
            var intelligenceSlider = $("#intelligenceSlider").slider();
            var energySlider = $("#energySlider").slider();
        
            // Get reference to slider values
            var vocalnessSliderVal = vocalnessSlider.slider('getValue');
            var intelligenceSliderVal = intelligenceSlider.slider('getValue');
            var energySliderVal = energySlider.slider('getValue');
        
    
            // Validate settings before we continue
            if (!($.isNumeric(vocalnessSliderVal) && $.isNumeric(intelligenceSliderVal) && $.isNumeric(energySliderVal))) {
                alert("Couldn't determine slider values!")
                $("#catPic").attr("src", "/static/img/happycat.jpg");
                return;
            }
    
            $("#tmp").empty();
            $("#tmp").append("<div id=\"localVideo\" muted></div>");
    
    
            var webrtc = new SimpleWebRTC({
                localVideoEl: 'localVideo',
                remoteVideosEl: '',
                autoRequestMedia: true
            });
    
            // a peer video has been added
            webrtc.on('videoAdded', function (video, peer) {
                console.log('video added', peer);
    
                // chat just started, hide the banner/landing page stuff
                $(".hideMe").hide();
                $("body").toggleClass("dark_background", 600);
                $("#catFact").hide();
    
                var remotes = document.getElementById('tmp');
                if (remotes) {
                    var container = $(document.createElement('div'));
                    container.id = 'container_' + webrtc.getDomId(peer);
                    
                    $(container).addClass("embed-responsive embed-responsive-16by9");
                    $(video).addClass("embed-responsive-item");
                    
                    container.append(video);

                    // suppress contextmenu
                    video.oncontextmenu = function () { return false; };
    
                    $("#tmp").prepend(container);
                }
            });
    
    
                 // a peer video was removed
                webrtc.on('videoRemoved', function (video, peer) {
                    console.log('video removed ', peer);
                    var remotes = document.getElementById('tmp');
                    var el = document.getElementById(peer ? 'container_' + webrtc.getDomId(peer) : 'localScreenContainer'); 
                    if (remotes && el) {
                        remotes.removeChild(el);
                    }
    
                    $("#tmp").empty();
                    $(".hideMe").show();
                    $("body").toggleClass("dark_background", 600);
                    $("#catPic").attr("src", "/static/img/happycat.jpg");
                    $("#catFact").show();
                    alert("Partner disconnected!")

                    localStorage.setItem("voc", vocalnessSlider.slider('getValue'));
                    localStorage.setItem("ene", energySlider.slider('getValue'));
                    localStorage.setItem("int", intelligenceSlider.slider('getValue'));


                    location.reload(true);
                });
    
            
            // When the mic and cam are ready...
            webrtc.on('readyToCall', function() {
    
                //temporarily hardcoding roomname
//                 webrtc.joinRoom("acb12345678");                     
    
                
                // POST slider values to recieve an appropriate room/roomName
                ajaxPost("{% url 'find_match' %}", {"vocalness": vocalnessSliderVal, "intelligence": intelligenceSliderVal, "energy": energySliderVal}, function(response_context) {
                    webrtc.joinRoom(response_context["room_name"]); // Join the specified room name
                });
                
            });
        
        
            webrtc.on('localMediaError', function() {
                alert("localMediaError - camera/mic access was probably denied");
            });
        
            webrtc.on('joinedRoom', function() {
                // pointless
            });
    
            webrtc.on('error', function() {
                alert("Error - Something bad happened...");
            });
        
            webrtc.on('createdPeer', function() {
                $("#catPic").hide();  
                var audio = new Audio('/static/audio/meow.mp3');
                audio.play();
            });
        
        });
    });
</script>
<script type="text/javascript" src="//json2jsonp.com/?url=http://catfacts-api.appspot.com/api/facts?number=1&callback=catfactCallback"></script>
{% endblock %}
