{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                <div class="sidebar-brand" ng-controller="sidebarCtrl">
                    <!-- Sidebar Stuff Starts Here -->


                    <h class="sideCenter"> Settings </h>

                    <br>
                    <p> Your cat's characteristics: </p>

                    <span class="sideCenter">Vocalness</span>
                    <input id="vocalnessSlider"> </input>
                    <br> 
                    <span class="sideCenter">Intelligence</span>
                    <input id="intelligenceSlider"> </input>
                    <br> 
                    <span class="sideCenter"> Energy </span>
                    <input id="energySlider"> </input>


                    <!-- Sidebar Stuff Ends Here -->
                </div>
            </div>

        </div>
        <!-- End Sidebar -->


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Hide Settings</a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <h1 class="hideMe">CatRoulette</h1>
                            <p class="hideMe">It's ChatRoulette .... for cats.</p>
                            <img class="hideMe" id="catPic" src="{% static 'img/happycat.jpg' %}" />
                            <div id="videoContainer">
                                <div id="localVideoWrapper">
                                    <video height="300" id="localVideo"></video> 
                                </div>
                                <div id="remotesVideos"></div>
                            </div>
                            <br>
                            <br>
                            <h2 id="catFact"></h2>
                            <script>
                                function myCallback(json) {
                                    $("#catFact").html("Complimentary Cat Fact: " + json.facts[0]);
                                }
                            </script>
                            <script type="text/javascript" src="//json2jsonp.com/?url=http://catfacts-api.appspot.com/api/facts?number=2&callback=myCallback"></script>
                            <br>
                            <br>
                            <button id="findPartner">Find a Match</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extended_scripts %}
<script type="text/javascript">
    var vocalnessSlider = $("#vocalnessSlider").slider();
    var intelligenceSlider = $("#intelligenceSlider").slider();
    var energySlider = $("#energySlider").slider();
    
    
    // Click handler for sidebar minimization/expansion
    $("#menu-toggle").click(function(e) {
        if ($("#menu-toggle").html() === "Hide Settings")
            $("#menu-toggle").html("Show Settings");
        else
            $("#menu-toggle").html("Hide Settings");
    
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    
    // "Find a Match" click handler
    $("#findPartner").click(function(e) {
    
        // Set loading gif while a match is found
        $("#catPic").attr("src", "/static/img/avatar-cat.gif");
    
        // Hide the sidebar
        if (!$("#wrapper").hasClass("toggled")) {
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle").html("Show Settings");
        }
    
        // Get reference to sliders
        var vocalnessSlider = $("#vocalnessSlider").slider();
        var intelligenceSlider = $("#intelligenceSlider").slider();
        var energySlider = $("#energySlider").slider();
    
        // Get reference to slider values
        var vocalnessSliderVal = vocalnessSlider.slider('getValue');
        var intelligenceSliderVal = intelligenceSlider.slider('getValue');
        var energySliderVal = energySlider.slider('getValue');
    

        // Validate settings before we continue
        if (!($.isNumeric(vocalnessSliderVal) && $.isNumeric(intelligenceSliderVal) && $.isNumeric(energySliderVal))) {
            alert("Couldn't determine slider values!")
            $("#catPic").attr("src", "/static/img/happycat.jpg");
            return;
        }


        // Add our video containers 

        //$("#localScreenContainer").empty();      
       // $("#localScreenContainer").append("<div id=\"localVideo\" muted></div>");

       // $("#remotes").empty();
       // $("#remotes").append("<div id=\"remoteVideo\"></div>");
    
        var webrtc = new SimpleWebRTC({
            localVideoEl: 'localVideo',
            remoteVideosEl: 'remoteVideos',
            autoRequestMedia: true
        });

/*
        // a peer video has been added
        webrtc.on('videoAdded', function (video, peer) {
            console.log('video added', peer);

            // chat just started, hide the banner/landing page stuff
            $(".hideMe").hide();

            var remotes = document.getElementById('remotes');
            if (remotes) {
                var container = document.createElement('div');
                container.className = 'videoContainer';
                container.id = 'container_' + webrtc.getDomId(peer);
                container.appendChild(video);

                // suppress contextmenu
                video.oncontextmenu = function () { return false; };

                remotes.appendChild(container);
            }
        });


        // a peer video was removed
        webrtc.on('videoRemoved', function (video, peer) {
            console.log('video removed ', peer);
            
            // chat just ended, so hide all the video stuff, and re-show the banner/landing page
            $("#localScreenContainer").empty();
            $("#remotes").empty();
            //$("#videoContainer").hide(); 
            $(".hideMe").show();

            // I don't think this is necessary since I emptied #videoContainer...
            var remotes = document.getElementById('remotes');
            var el = document.getElementById(peer ? 'container_' + webrtc.getDomId(peer) : 'localScreenContainer');
            if (remotes && el) {
                remotes.removeChild(el);
            }
        });
*/
        
        // When the mic and cam are ready...
        webrtc.on('readyToCall', function() {

            //temporarily hardcoding roomname
            webrtc.joinRoom("acb12345678");
            $("#catPic").hide();                       
            $("#findPartner").html("Find a new match");

            /*
            // POST slider values to recieve an appropriate room/roomName
            ajaxPost("{% url 'find_match' %}", {"vocalness": vocalnessSliderVal, "intelligence": intelligenceSliderVal, "energy": energySliderVal}, function(response_context) {
            
                webrtc.joinRoom(response_context["room_name"]); // Join the specified room name
                $("#catPic").hide();                            // Hide the loading gif
                $("#findPartner").html("Find a new match");     // "Find a Match" --> "Find Next Match"

            });
            */
        });
    
        webrtc.on('joinedRoom', function() {
            var audio = new Audio('/static/audio/meow.mp3');
            audio.play();
        });
    
        webrtc.on('localMediaError', function() {
            alert("localMediaError - camera/mic access was probably denied");
            //$("#videoContainer").empty();
            $("#catPic").attr("src", "/static/img/happycat.jpg");
        });
    
        webrtc.on('error', function() {
            alert("Error - Something bad happened...");
            //$("#videoContainer").empty();
            $("#catPic").attr("src", "/static/img/happycat.jpg");
        });
    
        webrtc.on('createdPeer', function() {
            alert("createdPeer - ...");
        });
    
    });
</script>
{% endblock %}