{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav">
                <div class="sidebar-brand" ng-controller="sidebarCtrl">
                    <!-- Sidebar Stuff Starts Here -->

                    <center>
                        <h> Settings </h>
                    </center>
                    <br>
                    <p> Your cat's characteristics: </p>

                    Vocalness
                    <input id="vocalnessSlider"> </input>
                    <br> Intelligence
                    <input id="intelligenceSlider"> </input>
                    <br> Energy
                    <input id="energySlider"> </input>


                    <!-- Sidebar Stuff Ends Here -->
                </div>
            </div>

        </div>
        <!-- End Sidebar -->


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Hide Settings</a>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <h1>CatRoulette</h1>
                            <p>It's ChatRoulette .... for cats.</p>
                            <img id="catPic" src="{% static 'img/happycat.jpg' %}" />
                            <span id="tmp"></span>
                            <br>
                            <br>
                            <h2 id="catFact"></h2>

                            <!-- This is a temporary hack to show utilization of the cat facts api
                                 without having to create a proxy server to deal with CORS atm.
                                 You basically pretend the json is a script so the cross domain fetch works -->
                            <script>
                                function myCallback(json) {
                                    $("#catFact").html("Complimentary Cat Fact: " + json.facts[0]);
                                }
                            </script>
                            <script type="text/javascript" src="//json2jsonp.com/?url=http://catfacts-api.appspot.com/api/facts?number=2&callback=myCallback"></script>
                            <br>
                            <br>
                            <button id="findPartner">Find a Match</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extended_scripts %}
<script type="text/javascript">
    var vocalnessSlider = $("#vocalnessSlider").slider();
    var intelligenceSlider = $("#intelligenceSlider").slider();
    var energySlider = $("#energySlider").slider();
    
    
    // Click handler for sidebar minimization/expansion
    $("#menu-toggle").click(function(e) {
        if ($("#menu-toggle").html() === "Hide Settings")
            $("#menu-toggle").html("Show Settings");
        else
            $("#menu-toggle").html("Hide Settings");
    
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    
    
    // "Find a Match" click handler
    $("#findPartner").click(function(e) {
    
        // Update the catfact every time they click the find a (new) match
        $.ajax({
            url: "<serverURL>/catFact",
            success: function(catFact){
                $("#catFact").html("Complimentary Cat Fact: " + catFact);
            },
            dataType: "text"
        });
    
    
        // Set loading gif while a match is found
        $("#catPic").attr("src", "/static/img/avatar-cat.gif");
    
    
        // Hide the sidebar
        if (!$("#wrapper").hasClass("toggled")) {
            $("#wrapper").toggleClass("toggled");
            $("#menu-toggle").html("Show Settings");
        }
    
        // Get reference to sliders
        var vocalnessSlider = $("#vocalnessSlider").slider();
        var intelligenceSlider = $("#intelligenceSlider").slider();
        var energySlider = $("#energySlider").slider();
    
        // Get reference to slider values
        var vocalnessSliderVal = vocalnessSlider.slider('getValue');
        var intelligenceSliderVal = intelligenceSlider.slider('getValue');
        var energySliderVal = energySlider.slider('getValue');
    
        $("#tmp").empty();
        $("#tmp").append("<div id=\"localVideo\" muted></div>");
        $("#tmp").append("<div id=\"remoteVideo\"></div>");
    
        var webrtc = new SimpleWebRTC({
            localVideoEl: 'localVideo',
            remoteVideosEl: 'remoteVideo',
            autoRequestMedia: true
        });
    
        webrtc.on('readyToCall', function() {
            // POST slider values to recieve an appropriate room/roomName
            ajaxPost("{% url 'find_match' %}", {"vocalness": vocalnessSliderVal, "intelligence": intelligenceSliderVal, "energy": energySliderVal}, function(response_context) {
                console.log(response_context["data"]);
                webrtc.joinRoom(response_context["room_name"]); // Join the specified room name
                $("#catPic").hide(); // Hide the loading gif
                $("#findPartner").html("Find a new match"); // "Find a Match" --> "Find Next Match"
            });
        });
    
        webrtc.on('joinedRoom', function() {
            alert("joinedRoom - Works! - play a greeting cat sound?");
            var audio = new Audio('./audio/meow.mp3');
            audio.play();
        });
    
        webrtc.on('localMediaError', function() {
            alert("localMediaError - camera/mic access was probably denied");
        });
    
        webrtc.on('error', function() {
            alert("error - idk yet");
        });
    
        webrtc.on('createdPeer', function() {
            alert("createdPeer - idk yet");
        });
    
        webrtc.on('localScreenAdded', function() {
            alert("localScreenAdded - idk yet");
        });
    
    });
</script>
{% endblock %}