html,
body {
  height: 100%;
  background-color: aliceblue;
}
#wrapper {
  height: 100%;
}
#catPic {
  max-width: 400px;
  width: 50%;
  margin: 30px 0;
}
.dark_background {
  background-color: #191919;
}
#page-content-wrapper,
.container-fluid {
  padding: 0;
}
#localVideo {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 200px;
  z-index: 5;
}
#tmp {
  overflow: hidden;
}
#catFact {
  margin-top: 20px;
}
span#buttonz {
  left: 15px;
  position: relative;
}
video {
  width: 100%;
  height: auto;
  max-height: 100%;
}
